body {
  margin: 0;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: 0;
}

pre {
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 60px !important;
  font-size: 14px;
}

code {
  display: block;
  margin-left: 3em;
}

#backToIndex {
  position: absolute;
  top: 0;
  right: 0;

  padding: 1em;
  border: 1px dashed currentColor;
  font-family: monospace;

  color: inherit;
}
